<header class="container-fluid pt-1">
    <nav class="row">
        <section class="col-6">
            <a><h2 class=" pt-1" [routerLink]="['/']"><fa-icon [icon]="faMobileAlt"></fa-icon> Phone Model Store <sup id="up">TM</sup></h2></a>
        </section>
        <section class="col-6 pb-1 d-flex justify-content-end">
            <a [routerLink]="['/shoppingcart']" class="btn fancy-button">
            <p><fa-icon [icon]="faShoppingCart"></fa-icon> Checkout</p></a>
        </section>
    </nav>
</header>
